.register-page,
.login-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  padding-top: 50px;
  background-color: #1e1e26;
  overflow-y: auto;
  padding-bottom: 80px;
}

.register-page .logo,
.login-page .logo {
  text-align: center;
  color: white;
  letter-spacing: 2px;
}

.register-page .register-box,
.register-page .login-box,
.login-page .register-box,
.login-page .login-box {
  border-radius: 5px;
  width: 450px;
  margin-top: 50px;
  background-color: #23232c;
  padding: 40px;
}

.register-page .register-box .title,
.register-page .login-box .title,
.login-page .register-box .title,
.login-page .login-box .title {
  color: #f1f1f1;
  font-weight: normal;
  margin-bottom: 30px;
}

.register-page .register-box .input-filed,
.register-page .login-box .input-filed,
.login-page .register-box .input-filed,
.login-page .login-box .input-filed {
  margin-top: 30px;
}

.register-page .register-box .input-filed .label,
.register-page .login-box .input-filed .label,
.login-page .register-box .input-filed .label,
.login-page .login-box .input-filed .label {
  color: #f1f1f1;
  font-weight: normal;
  font-size: 0.9rem;
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 7px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.register-page .register-box .input-filed .label .forgot-link,
.register-page .login-box .input-filed .label .forgot-link,
.login-page .register-box .input-filed .label .forgot-link,
.login-page .login-box .input-filed .label .forgot-link {
  font-weight: normal;
  font-size: 0.9rem;
  display: table;
  text-decoration: none;
  color: #dbdbdb;
}

.register-page .register-box .input-filed .label .forgot-link:hover,
.register-page .login-box .input-filed .label .forgot-link:hover,
.login-page .register-box .input-filed .label .forgot-link:hover,
.login-page .login-box .input-filed .label .forgot-link:hover {
  color: white;
  text-decoration: underline;
}

.register-page .register-box .input-filed input,
.register-page .login-box .input-filed input,
.login-page .register-box .input-filed input,
.login-page .login-box .input-filed input {
  padding: 13px 15px;
}

.register-page .register-box .submit-btn,
.register-page .login-box .submit-btn,
.login-page .register-box .submit-btn,
.login-page .login-box .submit-btn {
  width: 100%;
  margin-top: 40px;
  padding: 12px;
  font-weight: 600;
  text-transform: capitalize;
  font-size: 1rem;
  letter-spacing: 0px;
}

.register-page .bottom-link,
.login-page .bottom-link {
  text-align: center;
  color: #f1f1f1;
  font-weight: normal;
  margin-top: 22px;
  font-size: 0.9rem;
  letter-spacing: 0.3px;
}

.register-page .bottom-link a,
.login-page .bottom-link a {
  margin-left: 5px;
  color: #689f38;
}

.register-page .bottom-link a:hover,
.login-page .bottom-link a:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=Account.css.map */