.register-page,
.login-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  padding-top: 50px;
  background-color: #1e1e26;
  overflow-y: auto;
  padding-bottom: 80px;
}

.register-page .logo,
.login-page .logo {
  text-align: center;
  color: white;
  letter-spacing: 2px;
}

.register-page .register-box,
.register-page .login-box,
.login-page .register-box,
.login-page .login-box {
  border-radius: 5px;
  width: 450px;
  margin-top: 50px;
  background-color: #23232c;
  padding: 40px;
}

.register-page .register-box .title,
.register-page .login-box .title,
.login-page .register-box .title,
.login-page .login-box .title {
  color: #f1f1f1;
  font-weight: normal;
  margin-bottom: 30px;
}

.register-page .register-box .input-filed,
.register-page .login-box .input-filed,
.login-page .register-box .input-filed,
.login-page .login-box .input-filed {
  margin-top: 30px;
}

.register-page .register-box .input-filed .label,
.register-page .login-box .input-filed .label,
.login-page .register-box .input-filed .label,
.login-page .login-box .input-filed .label {
  color: #f1f1f1;
  font-weight: normal;
  font-size: 0.9rem;
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 7px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.register-page .register-box .input-filed .label .forgot-link,
.register-page .login-box .input-filed .label .forgot-link,
.login-page .register-box .input-filed .label .forgot-link,
.login-page .login-box .input-filed .label .forgot-link {
  font-weight: normal;
  font-size: 0.9rem;
  display: table;
  text-decoration: none;
  color: #dbdbdb;
}

.register-page .register-box .input-filed .label .forgot-link:hover,
.register-page .login-box .input-filed .label .forgot-link:hover,
.login-page .register-box .input-filed .label .forgot-link:hover,
.login-page .login-box .input-filed .label .forgot-link:hover {
  color: white;
  text-decoration: underline;
}

.register-page .register-box .input-filed input,
.register-page .login-box .input-filed input,
.login-page .register-box .input-filed input,
.login-page .login-box .input-filed input {
  padding: 13px 15px;
}

.register-page .register-box .submit-btn,
.register-page .login-box .submit-btn,
.login-page .register-box .submit-btn,
.login-page .login-box .submit-btn {
  width: 100%;
  margin-top: 40px;
  padding: 12px;
  font-weight: 600;
  text-transform: capitalize;
  font-size: 1rem;
  letter-spacing: 0px;
}

.register-page .bottom-link,
.login-page .bottom-link {
  text-align: center;
  color: #f1f1f1;
  font-weight: normal;
  margin-top: 22px;
  font-size: 0.9rem;
  letter-spacing: 0.3px;
}

.register-page .bottom-link a,
.login-page .bottom-link a {
  margin-left: 5px;
  color: #689f38;
}

.register-page .bottom-link a:hover,
.login-page .bottom-link a:hover {
  text-decoration: underline;
}

.account-setting-page {
  width: 100%;
  background-color: #1e1e26;
  padding: 35px 25px;
  overflow-y: auto;
}

.account-setting-page .main-heading h1 {
  color: white;
  font-weight: normal;
  font-size: 2.2rem;
}

.account-setting-page .main-heading p {
  color: #c2c2c2;
  margin-top: 5px;
  font-size: 0.95rem;
}

.account-setting-page .detail-container {
  width: 100%;
  background: #23232c;
  border-radius: 5px;
  border: 1px solid #3b3b3b;
  padding: 15px;
  margin-top: 40px;
}

.account-setting-page .detail-container .title {
  border-bottom: 1px solid #3b3b3b;
  padding-bottom: 13px;
}

.account-setting-page .detail-container .title h3 {
  color: #f1f1f1;
  font-weight: normal;
  font-size: 1.1rem;
}

.account-setting-page .detail-container .input-form .input-filed {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.account-setting-page .detail-container .input-form .input-filed h5 {
  color: #bababa;
  font-weight: normal;
  font-size: 0.95rem;
}

.account-setting-page .detail-container .input-form .input-filed .input {
  width: 72%;
}

.account-setting-page .detail-container .input-form .input-filed .input input {
  width: 100%;
  padding: 13px 15px;
  font-size: 0.95rem;
}

.account-setting-page .detail-container .input-form .input-filed .input input::-webkit-input-placeholder {
  color: #bababa;
}

.account-setting-page .detail-container .input-form .input-filed .input input:-ms-input-placeholder {
  color: #bababa;
}

.account-setting-page .detail-container .input-form .input-filed .input input::-ms-input-placeholder {
  color: #bababa;
}

.account-setting-page .detail-container .input-form .input-filed .input input::placeholder {
  color: #bababa;
}

.account-setting-page .detail-container .input-form .input-filed .input :not(.Mui-focused) fieldset {
  border-color: #3b3b3b;
}

.account-setting-page .detail-container .delete-button {
  margin-top: 25px;
  font-weight: 600;
  text-transform: capitalize;
}

.account-setting-page .detail-container .footer {
  margin-top: 40px;
  border-top: 1px solid #3b3b3b;
  padding-top: 13px;
  padding-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.account-setting-page .detail-container .footer button {
  text-transform: capitalize;
  font-weight: 600;
}

.account-setting-page .user-info-container .input-form .input-filed {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.account-setting-page .user-info-container .input-form .input-filed h5 {
  color: #bababa;
  font-weight: normal;
  font-size: 0.95rem;
}

.account-setting-page .user-info-container .input-form .input-filed .input {
  width: 72%;
}

.account-setting-page .user-info-container .input-form .input-filed .input input {
  width: 100%;
  padding: 13px 15px;
  font-size: 0.95rem;
}

.account-setting-page .user-info-container .input-form .input-filed .input input::-webkit-input-placeholder {
  color: #bababa;
}

.account-setting-page .user-info-container .input-form .input-filed .input input:-ms-input-placeholder {
  color: #bababa;
}

.account-setting-page .user-info-container .input-form .input-filed .input input::-ms-input-placeholder {
  color: #bababa;
}

.account-setting-page .user-info-container .input-form .input-filed .input input::placeholder {
  color: #bababa;
}

.account-setting-page .user-info-container .input-form .input-filed .input :not(.Mui-focused) fieldset {
  border-color: #3b3b3b;
}

.account-setting-page .user-info-container .input-form .input-filed .input-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 15px;
  width: 72%;
}

.account-setting-page .user-info-container .input-form .input-filed .input-img .img {
  width: 90px;
  height: 90px;
}

.account-setting-page .user-info-container .input-form .input-filed .input-img .img img {
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
}

.account-setting-page .user-info-container .input-form .input-filed .input-img .desc p {
  color: #bababa;
  font-size: 0.75rem;
  width: 140px;
}

.account-setting-page .user-info-container .input-form .input-filed .input-img .desc .button {
  text-transform: capitalize;
  display: block;
  margin-top: 10px;
}

.account-setting-page .user-info-container .input-form .input-filed .input-img .desc .upBtn {
  display: table;
}
/*# sourceMappingURL=Account.css.map */