:root {
  --toastify-toast-min-height: 28px;
  --toastify-text-color-light: rgb(90, 90, 90);
}

.Toastify__toast-container {
  width: auto !important;
  margin-bottom: 5px;
}

.Toastify__toast-container * {
  min-height: auto !important;
}

.Toastify__toast-container .Toastify__toast {
  white-space: nowrap;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #f1f1f1;
}

.appContainer {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #f1f1f1;
  overflow: hidden;
}

.appContainer .left-side-nav {
  max-width: 17% !important;
  min-width: 17% !important;
  padding: 15px;
  overflow-y: scroll;
  background-color: #23232c;
}

.appContainer .left-side-nav .logo a {
  display: block;
  text-decoration: none;
  font-weight: bold;
  font-size: 28px;
  color: white;
  text-align: center;
  padding: 15px 0px;
}

.appContainer .left-side-nav .search-filled {
  width: 100%;
  background-color: #353543;
  margin-top: 5px;
  border-radius: 4px;
  color: white;
  overflow: hidden;
}

.appContainer .left-side-nav .MuiFormControl-root .MuiInputBase-input {
  padding: 11px 13px;
  padding-right: 0px;
  font-size: 0.9rem;
}

.appContainer .left-side-nav .link-box {
  width: 100%;
  margin-top: 20px;
}

.appContainer .left-side-nav .link-box .title {
  padding: 12px 0px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: uppercase;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 14px;
  font-weight: 300;
  border-radius: 3px;
}

.appContainer .left-side-nav .link-box .title .icon {
  font-size: 1.4rem;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.appContainer .left-side-nav .link-box ul li {
  list-style: none;
}

.appContainer .left-side-nav .link-box ul li .link {
  padding: 10px 11px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 15px;
  font-weight: 300;
  border-radius: 4px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  text-decoration: none;
}

.appContainer .left-side-nav .link-box ul li .link .icon {
  display: -ms-grid;
  display: grid;
  place-items: center;
  margin-right: 10px;
  font-size: 1.2rem;
}

.appContainer .left-side-nav .link-box ul li .link:hover {
  background-color: #2c2c34;
}

.appContainer .left-side-nav .link-box ul li .active {
  background-color: #313438;
  border-right: 3px solid #689f38;
  color: white;
}

.appContainer .left-side-nav .divider {
  width: 100%;
  height: 1px;
  margin: 20px 0px;
  background-color: #494949;
}

.appContainer .left-side-nav .login-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 10px;
  padding: 0px 11px;
}

.appContainer .left-side-nav .login-box .btn {
  display: block;
  padding: 11px 15px;
  font-weight: 500;
  text-decoration: none;
  color: white;
  border-radius: 3px;
  font-size: 0.9rem;
}

.appContainer .left-side-nav .login-box .login-btn {
  background-color: #689f38;
}

.appContainer .left-side-nav .login-box .register-btn {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.appContainer .left-side-nav .login-box .register-btn:hover {
  background-color: #2c2c34;
}

.appContainer .left-side-nav .user-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.appContainer .left-side-nav .user-box img {
  width: 40px;
  height: 40px;
  aspect-ratio: 1 / 1;
}

.appContainer .left-side-nav .user-box h5 {
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-weight: normal;
  overflow: hidden;
}

.appContainer .left-side-nav .user-box h5 a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  color: white;
  text-decoration: none;
  font-size: 0.9rem;
}

.appContainer .left-side-nav .user-box h5 a:hover {
  text-decoration: underline;
}

.appContainer .right-side-queue {
  min-width: 18%;
  overflow-y: scroll;
  background-color: #23232c;
  border-left: 1px solid #3b3b3b;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.appContainer .right-side-queue .song-card {
  padding: 10px 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  border-bottom: 1px solid #3b3b3b;
}

.appContainer .right-side-queue .song-card .img-box {
  width: 35px;
  height: 35px;
  overflow: hidden;
  border-radius: 4px;
  position: relative;
  margin-right: 7px;
}

.appContainer .right-side-queue .song-card .img-box img {
  width: 100%;
  height: 100%;
}

.appContainer .right-side-queue .song-card .img-box .hover-box {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  color: white;
  cursor: pointer;
}

.appContainer .right-side-queue .song-card .img-box .hover-box .play-box {
  display: none;
  width: 100%;
  height: 100%;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.appContainer .right-side-queue .song-card .img-box .hover-box .playing-box {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.appContainer .right-side-queue .song-card .img-box .hover-box .playing-box .pause-icon {
  width: 100%;
  height: 100%;
  place-items: center;
  display: none;
}

.appContainer .right-side-queue .song-card .img-box .hover-box .playing-box .volume-icon {
  width: 100%;
  height: 100%;
  place-items: center;
  display: -ms-grid;
  display: grid;
}

.appContainer .right-side-queue .song-card .img-box .hover-box .playing-box:hover .pause-icon {
  display: -ms-grid;
  display: grid;
}

.appContainer .right-side-queue .song-card .img-box .hover-box .playing-box:hover .volume-icon {
  display: none;
}

.appContainer .right-side-queue .song-card .img-box .hover-box:hover .play-box {
  display: -ms-grid;
  display: grid;
}

.appContainer .right-side-queue .song-card .desc-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 4px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.appContainer .right-side-queue .song-card .desc-box .title {
  font-size: 0.9rem;
  font-weight: normal;
}

.appContainer .right-side-queue .song-card .desc-box .link-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.appContainer .right-side-queue .song-card .desc-box .link-box a {
  font-size: 0.8rem;
  color: #bababa;
  text-decoration: none;
  display: table;
}

.appContainer .right-side-queue .song-card .desc-box .link-box a:hover {
  text-decoration: underline;
}

.appContainer .right-side-queue .song-card .menu-icon {
  color: white;
  font-size: 1.3rem;
  position: absolute;
  right: 0px;
  padding-right: 10px;
  place-items: center;
  display: none;
  cursor: pointer;
}

.appContainer .right-side-queue .song-card:last-child {
  border: none;
}

.appContainer .right-side-queue .song-card:hover .menu-icon {
  display: -ms-grid;
  display: grid;
}

.appContainer .right-side-queue .playing {
  background-color: #689f38;
}

.appContainer .right-side-queue .playing .desc-box .link-box a {
  color: white;
}

.setting-menu-container svg {
  margin-right: 12px;
}

.menu-header {
  width: 290px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 15px;
  margin-bottom: 10px;
  border-bottom: 1px solid #3b3b3b;
}

.menu-header img {
  width: 85px;
  border-radius: 5px;
  aspect-ratio: 1 / 1;
}

.menu-header .desc {
  line-height: 1.5;
  overflow: hidden;
}

.menu-header .desc a {
  display: block;
  text-decoration: none;
  font-size: 0.95rem;
}

.menu-header .desc a:hover {
  text-decoration: underline;
}

.menu-header .desc .artist-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.menu-header .desc .title {
  color: white;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.menu-header .desc .sub-title {
  color: #bababa;
}

.data-table-container .title {
  color: #f1f1f1;
  font-weight: 300;
  margin-bottom: 30px;
}

.data-table-container .data-table {
  border-collapse: collapse;
  width: 100%;
}

.data-table-container .data-table * {
  color: white;
  font-weight: 400;
}

.data-table-container .data-table .audio-icon {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #fff;
  display: none;
  place-items: center;
  overflow: hidden;
  padding-left: 0px !important;
}

.data-table-container .data-table .audio-icon * {
  color: black;
  font-size: 1.2rem;
}

.data-table-container .data-table .audio-icon .icon {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  display: none;
}

.data-table-container .data-table .audio-icon .play-icon {
  display: -ms-grid;
  display: grid;
}

.data-table-container .data-table .playing .number {
  display: none;
}

.data-table-container .data-table .playing .audio-icon {
  display: -ms-grid;
  display: grid;
}

.data-table-container .data-table .playing .audio-icon .icon {
  display: none;
}

.data-table-container .data-table .playing .audio-icon .sound-icon {
  display: -ms-grid;
  display: grid;
}

.data-table-container .data-table .playing .audio-icon:hover .icon {
  display: none;
}

.data-table-container .data-table .playing .audio-icon:hover .pause-icon {
  display: -ms-grid;
  display: grid;
}

.data-table-container .data-table .playing .audio-icon .playing-play-icon {
  display: -ms-grid;
  display: grid;
}

.data-table-container .data-table .playing td:nth-child(n + 2) {
  color: #689f38 !important;
}

.data-table-container .data-table .playing td:nth-child(n + 2) * {
  color: #689f38 !important;
}

.data-table-container .data-table tr,
.data-table-container .data-table thead {
  border-bottom: 1px solid rgba(58, 58, 58, 0.753);
  text-align: left;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.data-table-container .data-table td,
.data-table-container .data-table th {
  padding: 12px 20px;
  font-size: 0.9rem;
}

.data-table-container .data-table td a,
.data-table-container .data-table th a {
  text-decoration: none;
}

.data-table-container .data-table td a:hover,
.data-table-container .data-table th a:hover {
  text-decoration: underline;
}

.data-table-container .data-table td:first-child,
.data-table-container .data-table th:first-child {
  height: 60px;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.data-table-container .data-table td:last-child,
.data-table-container .data-table th:last-child {
  padding-right: 40px;
}

.data-table-container .data-table tr td:first-child .number {
  color: #bababa;
}

.data-table-container .data-table tr td:last-child {
  color: #bababa;
}

.data-table-container .data-table tr .number {
  width: 30px;
  height: 30px;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.data-table-container .data-table tr:hover {
  background-color: #27272f;
}

.data-table-container .data-table tr:hover .menu-icon {
  opacity: 1;
}

.data-table-container .data-table tr:hover .number {
  display: none;
}

.data-table-container .data-table tr:hover .audio-icon {
  display: -ms-grid;
  display: grid;
}

.data-table-container .data-table .menu-icon {
  opacity: 0;
}

.data-table-container .data-table .song-image {
  padding-right: 0px;
}

.data-table-container .data-table .song-image img {
  display: block;
  border-radius: 5px;
}

.data-table-container .data-table .icon {
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
  cursor: pointer;
}

.data-table-container .data-table .icon * {
  font-size: 1.2rem;
}

.data-table-container .data-table .empty * {
  color: #bababa;
}

.data-table-container .data-table .fill * {
  color: #689f38;
}

.data-table-container .data-table .head-icon * {
  color: #bababa;
  font-size: 1.2rem;
}

.data-table-container .data-table th {
  color: #bababa;
  font-weight: 500;
}

.data-table-container .nothing-box {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 5px;
}

.data-table-container .nothing-box p {
  color: #bababa;
}

.data-table-container .nothing-box h3 {
  color: white;
  font-weight: normal;
}

.genres-page {
  width: 100%;
  height: 100%;
  background-color: #1e1e26;
  padding: 30px;
  overflow-y: auto;
  margin-bottom: 60px;
}

.genres-page .heading {
  color: #f1f1f1;
  font-weight: 300;
  margin-bottom: 30px;
}

.popular-albums-page,
.newReleases-page {
  width: 100%;
  height: 100%;
  background-color: #1e1e26;
  padding: 30px;
  overflow-y: auto;
  margin-bottom: 60px;
}

.popular-albums-page .heading,
.newReleases-page .heading {
  color: #f1f1f1;
  font-weight: 300;
  margin-bottom: 30px;
}

.genres-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  grid-gap: 25px;
}

.genres-box .genres-card {
  aspect-ratio: 1 / 1;
  border-radius: 8px;
  overflow: hidden;
}

.genres-box .genres-card .link {
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  color: white;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.genres-box .genres-card .link:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.popular-track-page {
  width: 100%;
  height: 100%;
  background-color: #1e1e26;
  padding: 30px;
  overflow-y: auto;
  margin-bottom: 60px;
}

.popular-track-page .heading {
  color: #f1f1f1;
  font-weight: 300;
  margin-bottom: 30px;
}

.popular-tracks-container .heading {
  color: #f1f1f1;
  font-weight: 300;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  grid-gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  text-decoration: none;
  font-size: 28px;
}

.popular-albums-container .heading {
  color: #f1f1f1;
  font-weight: 300;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  grid-gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  text-decoration: none;
  font-size: 28px;
}

.genres-container {
  margin-top: 50px;
}

.genres-container .heading {
  color: #f1f1f1;
  font-weight: 300;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  grid-gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  text-decoration: none;
  font-size: 28px;
}

.album-container,
.artist-container {
  margin-bottom: 60px;
}

.album-container .heading,
.artist-container .heading {
  color: #f1f1f1;
  font-weight: 300;
  margin-bottom: 30px;
  font-size: 28px;
}

.album-container .album-body,
.album-container .artist-body,
.artist-container .album-body,
.artist-container .artist-body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  grid-gap: 25px;
  grid-row-gap: 35px;
}

.album-container .album-body .album-card,
.album-container .artist-body .album-card,
.artist-container .album-body .album-card,
.artist-container .artist-body .album-card {
  aspect-ratio: 1 / 1;
}

.album-container .album-body .album-card .img,
.album-container .artist-body .album-card .img,
.artist-container .album-body .album-card .img,
.artist-container .artist-body .album-card .img {
  overflow: hidden;
  border-radius: 5px;
  position: relative;
  background-color: #23232c;
}

.album-container .album-body .album-card .img img,
.album-container .artist-body .album-card .img img,
.artist-container .album-body .album-card .img img,
.artist-container .artist-body .album-card .img img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
}

.album-container .album-body .album-card .img:hover .hover-box,
.album-container .artist-body .album-card .img:hover .hover-box,
.artist-container .album-body .album-card .img:hover .hover-box,
.artist-container .artist-body .album-card .img:hover .hover-box {
  opacity: 1;
}

.album-container .album-body .album-card .img .hover-box,
.album-container .artist-body .album-card .img .hover-box,
.artist-container .album-body .album-card .img .hover-box,
.artist-container .artist-body .album-card .img .hover-box {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  cursor: pointer;
  opacity: 0;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.album-container .album-body .album-card .img .hover-box .icon,
.album-container .artist-body .album-card .img .hover-box .icon,
.artist-container .album-body .album-card .img .hover-box .icon,
.artist-container .artist-body .album-card .img .hover-box .icon {
  width: 60px;
  height: 60px;
  border: 1px solid white;
  border-radius: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.album-container .album-body .album-card .img .hover-box .icon *,
.album-container .artist-body .album-card .img .hover-box .icon *,
.artist-container .album-body .album-card .img .hover-box .icon *,
.artist-container .artist-body .album-card .img .hover-box .icon * {
  font-size: 2rem;
  color: white;
}

.album-container .album-body .album-card .img .hover-box .icon:hover,
.album-container .artist-body .album-card .img .hover-box .icon:hover,
.artist-container .album-body .album-card .img .hover-box .icon:hover,
.artist-container .artist-body .album-card .img .hover-box .icon:hover {
  -webkit-transform: scale(115%);
          transform: scale(115%);
}

.album-container .album-body .album-card .desc,
.album-container .artist-body .album-card .desc,
.artist-container .album-body .album-card .desc,
.artist-container .artist-body .album-card .desc {
  color: white;
  text-align: center;
}

.album-container .album-body .album-card .desc h5,
.album-container .artist-body .album-card .desc h5,
.artist-container .album-body .album-card .desc h5,
.artist-container .artist-body .album-card .desc h5 {
  font-weight: normal;
  font-size: 0.9rem;
  letter-spacing: 0.2px;
  cursor: pointer;
  margin-top: 9px;
}

.album-container .album-body .album-card .desc h5:hover,
.album-container .artist-body .album-card .desc h5:hover,
.artist-container .album-body .album-card .desc h5:hover,
.artist-container .artist-body .album-card .desc h5:hover {
  text-decoration: underline;
}

.album-container .album-body .album-card .desc .artist-name a,
.album-container .artist-body .album-card .desc .artist-name a,
.artist-container .album-body .album-card .desc .artist-name a,
.artist-container .artist-body .album-card .desc .artist-name a {
  color: #aaaaaa;
  text-decoration: none;
}

.album-container .album-body .active .icon,
.album-container .artist-body .active .icon,
.artist-container .album-body .active .icon,
.artist-container .artist-body .active .icon {
  display: none;
}

.album-container .nothing-box,
.artist-container .nothing-box {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 5px;
}

.album-container .nothing-box p,
.artist-container .nothing-box p {
  color: #bababa;
}

.album-container .nothing-box h3,
.artist-container .nothing-box h3 {
  color: white;
  font-weight: normal;
}

.tracks-by-album-page,
.tracks-by-artist-page {
  width: 100%;
  height: 100%;
  background-color: #1e1e26;
  padding: 30px;
  overflow-y: auto;
  margin-bottom: 60px;
}

.tracks-by-album-page .header,
.tracks-by-artist-page .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  grid-gap: 30px;
  margin-bottom: 20px;
}

.tracks-by-album-page .header .left-head,
.tracks-by-artist-page .header .left-head {
  width: 260px;
}

.tracks-by-album-page .header .left-head img,
.tracks-by-artist-page .header .left-head img {
  width: 100%;
  border-radius: 5px;
  aspect-ratio: 1 / 1;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}

.tracks-by-album-page .header .right-head .title,
.tracks-by-artist-page .header .right-head .title {
  color: white;
  font-weight: 500;
  font-size: 33px;
}

.tracks-by-album-page .header .right-head .artist-box,
.tracks-by-artist-page .header .right-head .artist-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 13px;
  margin-top: 13px;
}

.tracks-by-album-page .header .right-head .artist-box a,
.tracks-by-artist-page .header .right-head .artist-box a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 5px;
  color: white;
  text-decoration: none;
}

.tracks-by-album-page .header .right-head .artist-box a img,
.tracks-by-artist-page .header .right-head .artist-box a img {
  width: 26px;
  height: 26px;
  border-radius: 100%;
}

.tracks-by-album-page .header .right-head .artist-box a:hover,
.tracks-by-artist-page .header .right-head .artist-box a:hover {
  text-decoration: underline;
}

.tracks-by-album-page .header .right-head .desc-box,
.tracks-by-artist-page .header .right-head .desc-box {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 15px;
  color: #bababa;
  margin-top: 19px;
}

.tracks-by-album-page .header .right-head .action-btn,
.tracks-by-artist-page .header .right-head .action-btn {
  margin-top: 30px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 7px;
}

.tracks-by-album-page .header .right-head .action-btn .btn,
.tracks-by-artist-page .header .right-head .action-btn .btn {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 0.95rem;
  padding: 7px 18px;
  border-radius: 20px;
  color: white;
  border-color: #3b3b3b;
}

.tracks-by-album-page .header .right-head .action-btn .play-btn,
.tracks-by-artist-page .header .right-head .action-btn .play-btn {
  padding: 7px 35px;
  margin-right: 15px;
}

.tracks-by-album-page .header .right-head .action-btn .active,
.tracks-by-artist-page .header .right-head .action-btn .active {
  border-color: #689f38;
  color: #689f38;
}

.tracks-by-artist-page .header .left-head img {
  border-radius: 100%;
}

.tracks-by-artist-page .title {
  color: white;
  margin-top: 50px;
  margin-bottom: 10px;
  font-size: 1.1rem;
  color: #bababa;
  font-weight: normal;
}

.tracks-by-artist-page .tab-container .MuiTabs-flexContainer .MuiButtonBase-root {
  padding-left: 23px;
  padding-right: 23px;
  font-weight: 500;
  font-size: 0.95rem;
  text-transform: capitalize;
}
/*# sourceMappingURL=App.css.map */