$primary: #689f38;

.appContainer {
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: #f1f1f1;
    overflow: hidden;
    .left-side-nav {
        max-width: 17% !important;
        min-width: 17% !important;
        padding: 18px;
        overflow-y: scroll;
        background-color: #23232c;
        .logo {
            color: white;
            text-align: center;
            padding: 20px 0px;
        }
        .search-filled {
            width: 100%;
            background-color: #353543;
            margin-top: 5px;
            border-radius: 4px;
            color: white;
            overflow: hidden;
        }
        .MuiFormControl-root {
            .MuiInputBase-input {
                padding: 11px 13px;
                padding-right: 0px;
                font-size: 0.9rem;
            }
        }
        .link-box {
            width: 100%;
            margin-top: 20px;
            .title {
                padding: 12px 11px;
                width: 100%;
                display: flex;
                flex-wrap: nowrap;
                justify-content: space-between;
                text-transform: uppercase;
                align-items: center;
                color: white;
                font-size: 14px;
                font-weight: 300;
                border-radius: 3px;
                .icon {
                    font-size: 1.4rem;
                    display: grid;
                    place-items: center;
                }
            }
            ul {
                li {
                    list-style: none;
                    .link {
                        padding: 10px 11px;
                        width: 100%;
                        display: flex;
                        flex-wrap: nowrap;
                        align-items: center;
                        color: white;
                        font-size: 16px;
                        font-weight: 300;
                        border-radius: 3px;
                        transition: 0.2s;
                        text-decoration: none;
                        .icon {
                            display: grid;
                            place-items: center;
                            margin-right: 10px;
                            font-size: 1.2rem;
                        }
                        &:hover {
                            background-color: #2c2c34;
                        }
                    }
                }
            }
        }
        .divider {
            width: 100%;
            height: 1px;
            margin: 20px 0px;
            background-color: rgb(73, 73, 73);
        }
        .login-box {
            display: flex;
            grid-gap: 10px;
            padding: 0px 11px;
            .btn {
                display: block;
                padding: 11px 15px;
                font-weight: 500;
                text-decoration: none;
                color: white;
                border-radius: 3px;
                font-size: 0.9rem;
            }
            .login-btn {
                background-color: $primary;
            }
            .register-btn {
                transition: 0.2s;
                &:hover {
                    background-color: #2c2c34;
                }
            }
        }
    }
    .right-side-queue {
        min-width: 18% !important;
        overflow-y: scroll;
        background-color: #23232c;
        border-left: 1px solid #3b3b3b;
        .song-card {
            padding: 10px 8px;
            display: flex;
            align-items: center;
            position: relative;
            border-bottom: 1px solid #3b3b3b;
            .img-box {
                width: 35px;
                height: 35px;
                overflow: hidden;
                border-radius: 4px;
                position: relative;
                margin-right: 7px;
                img {
                    width: 100%;
                    height: 100%;
                }
                .hover-box {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    display: none;
                    place-items: center;
                    color: white;
                    cursor: pointer;
                    background-color: rgba(0, 0, 0, 0.5);
                }
            }
            .desc-box {
                display: flex;
                grid-gap: 4px;
                justify-content: space-between;
                color: white;
                flex-direction: column;
                .title {
                    font-size: 0.9rem;
                    font-weight: normal;
                }
                .link-box {
                    display: flex;
                    a {
                        font-size: 0.8rem;
                        color: #bababa;
                        text-decoration: none;
                        display: table;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
            .menu-icon {
                color: white;
                font-size: 1.3rem;
                position: absolute;
                right: 0px;
                padding-right: 10px;

                place-items: center;
                display: none;
                cursor: pointer;
            }
            &:hover {
                .menu-icon {
                    display: grid;
                }
                .img-box {
                    .hover-box {
                        display: grid;
                    }
                }
            }
            &:last-child {
                border: none;
            }
        }
    }
}

.data-table-container {
    .title {
        color: #f1f1f1;
        font-weight: 300;
        margin-bottom: 30px;
    }
    .data-table {
        border-collapse: collapse;
        width: 100%;
        * {
            color: white;
            font-weight: 400;
        }

        .playing {
            .number {
                display: none;
            }
            &:hover {
                .play-icon {
                    display: none;
                }
            }
            td {
                &:nth-child(n + 2) {
                    color: $primary !important;
                    * {
                        color: $primary !important;
                    }
                }
            }
            .sound-icon {
                display: grid;
                // color: black !important;
            }
        }
        .audio-icon {
            width: 30px;
            height: 30px;
            border-radius: 100%;
            background-color: #fff;
            display: none;
            cursor: pointer;
            padding-left: 0px !important;
            place-items: center;
            * {
                color: black;
                font-size: 1.2rem;
            }
        }

        tr,
        thead {
            border-bottom: 1px solid rgba(58, 58, 58, 0.753);
            text-align: left;
            transition: 0.2s;
        }

        td,
        th {
            padding: 12px 20px;
            font-size: 0.9rem;
            &:first-child {
                height: 60px;
                display: grid;
                place-items: center;
            }
            &:last-child {
                padding-right: 40px;
            }
        }
        tr {
            &:hover {
                background-color: #27272f;
                .menu-icon {
                    opacity: 1;
                }
                .number {
                    display: none;
                }
                .play-icon {
                    display: grid;
                }
            }
        }
        .menu-icon {
            opacity: 0;
        }
        .song-image {
            padding-right: 0px;
            img {
                display: block;
                border-radius: 5px;
            }
        }
        .icon {
            padding-left: 0px;
            padding-right: 0px;
            text-align: center;
            cursor: pointer;
            * {
                font-size: 1.2rem;
            }
        }

        .empty {
            * {
                color: #bababa;
            }
        }
        .fill {
            * {
                color: $primary;
            }
        }
        .head-icon {
            * {
                color: #bababa;
                font-size: 1.2rem;
            }
        }
        th {
            color: #bababa;
            font-weight: 500;
        }
    }
}

.album-container {
    margin-bottom: 60px;
    .heading {
        color: #f1f1f1;
        font-weight: 300;
        margin-bottom: 30px;
    }
    .album-body {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 40px;
        .album-card {
            // width: 200px;
            // height: 250px;
            .img {
                overflow: hidden;
                border-radius: 5px;
                position: relative;
                img {
                    object-fit: cover;
                    object-position: center;
                    width: 100%;
                    // height: 100%;
                }
                &:hover {
                    .hover-box {
                        opacity: 1;
                    }
                }
                .hover-box {
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: rgba(0, 0, 0, 0.6);
                    width: 100%;
                    height: 100%;
                    display: grid;
                    place-items: center;
                    cursor: pointer;
                    opacity: 0;
                    transition: 0.2s ease-in-out;
                    .icon {
                        width: 60px;
                        height: 60px;
                        border: 1px solid white;
                        border-radius: 100%;
                        display: grid;
                        place-items: center;
                        transition: 0.2s;
                        * {
                            font-size: 2rem;
                            color: white;
                        }
                        &:hover {
                            transform: scale(115%);
                        }
                    }
                }
            }
            .desc {
                color: white;
                text-align: center;
                h5 {
                    font-weight: normal;
                    font-size: 0.9rem;
                    letter-spacing: 0.2px;
                    cursor: pointer;
                    margin-top: 9px;
                    &:hover {
                        text-decoration: underline;
                    }
                }
                .artist-name {
                    color: rgb(170, 170, 170);
                }
            }
        }
        .active {
            .icon {
                display: none;
            }
        }
    }
}
