$primary: #689f38;
$backgroundColor: #1e1e26;

:root {
    --toastify-toast-min-height: 28px;
    --toastify-text-color-light: rgb(90, 90, 90);
}
.Toastify__toast-container {
    * {
        min-height: auto !important;
    }
    .Toastify__toast {
        white-space: nowrap;
        padding: 10px;
        padding-left: 15px;
        padding-right: 15px;
        background-color: #f1f1f1;
    }
    width: auto !important;
    margin-bottom: 5px;
}
.appContainer {
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: #f1f1f1;
    overflow: hidden;
    .left-side-nav {
        max-width: 17% !important;
        min-width: 17% !important;
        padding: 18px;
        overflow-y: scroll;
        background-color: #23232c;
        .logo {
            a {
                display: block;
                text-decoration: none;
                font-weight: bold;
                font-size: 28px;
                color: white;
                text-align: center;
                padding: 15px 0px;
            }
        }
        .search-filled {
            width: 100%;
            background-color: #353543;
            margin-top: 5px;
            border-radius: 4px;
            color: white;
            overflow: hidden;
        }
        .MuiFormControl-root {
            .MuiInputBase-input {
                padding: 11px 13px;
                padding-right: 0px;
                font-size: 0.9rem;
            }
        }
        .link-box {
            width: 100%;
            margin-top: 20px;
            .title {
                padding: 12px 11px;
                width: 100%;
                display: flex;
                flex-wrap: nowrap;
                justify-content: space-between;
                text-transform: uppercase;
                align-items: center;
                color: white;
                font-size: 14px;
                font-weight: 300;
                border-radius: 3px;
                .icon {
                    font-size: 1.4rem;
                    display: grid;
                    place-items: center;
                }
            }
            ul {
                li {
                    list-style: none;
                    .link {
                        padding: 10px 11px;
                        width: 100%;
                        display: flex;
                        flex-wrap: nowrap;
                        align-items: center;
                        color: white;
                        font-size: 15px;
                        font-weight: 300;
                        border-radius: 4px;
                        transition: 0.2s;
                        text-decoration: none;
                        .icon {
                            display: grid;
                            place-items: center;
                            margin-right: 10px;
                            font-size: 1.2rem;
                        }
                        &:hover {
                            background-color: #2c2c34;
                        }
                    }
                    .active {
                        background-color: #313438;
                        border-right: 3px solid $primary;
                        color: white;
                    }
                }
            }
        }
        .divider {
            width: 100%;
            height: 1px;
            margin: 20px 0px;
            background-color: rgb(73, 73, 73);
        }
        .login-box {
            display: flex;
            grid-gap: 10px;
            padding: 0px 11px;
            .btn {
                display: block;
                padding: 11px 15px;
                font-weight: 500;
                text-decoration: none;
                color: white;
                border-radius: 3px;
                font-size: 0.9rem;
            }
            .login-btn {
                background-color: $primary;
            }
            .register-btn {
                transition: 0.2s;
                &:hover {
                    background-color: #2c2c34;
                }
            }
        }
    }
    .right-side-queue {
        min-width: 18%;
        overflow-y: scroll;
        background-color: #23232c;
        border-left: 1px solid #3b3b3b;
        transition: 0.3s;
        .song-card {
            padding: 10px 8px;
            display: flex;
            align-items: center;
            position: relative;
            border-bottom: 1px solid #3b3b3b;
            .img-box {
                width: 35px;
                height: 35px;
                overflow: hidden;
                border-radius: 4px;
                position: relative;
                margin-right: 7px;
                img {
                    width: 100%;
                    height: 100%;
                }
                .hover-box {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    display: grid;
                    place-items: center;
                    color: white;
                    cursor: pointer;
                    .play-box {
                        display: none;
                        width: 100%;
                        height: 100%;
                        place-items: center;
                        background-color: rgba(0, 0, 0, 0.5);
                    }
                    .playing-box {
                        width: 100%;
                        height: 100%;
                        background-color: rgba(0, 0, 0, 0.5);
                        .pause-icon {
                            width: 100%;
                            height: 100%;
                            place-items: center;
                            display: none;
                        }
                        .volume-icon {
                            width: 100%;
                            height: 100%;
                            place-items: center;
                            display: grid;
                        }
                        &:hover {
                            .pause-icon {
                                display: grid;
                            }
                            .volume-icon {
                                display: none;
                            }
                        }
                    }
                    &:hover {
                        .play-box {
                            display: grid;
                        }
                    }
                }
            }
            .desc-box {
                display: flex;
                grid-gap: 4px;
                justify-content: space-between;
                color: white;
                flex-direction: column;
                .title {
                    font-size: 0.9rem;
                    font-weight: normal;
                }
                .link-box {
                    display: flex;
                    a {
                        font-size: 0.8rem;
                        color: #bababa;
                        text-decoration: none;
                        display: table;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
            .menu-icon {
                color: white;
                font-size: 1.3rem;
                position: absolute;
                right: 0px;
                padding-right: 10px;

                place-items: center;
                display: none;
                cursor: pointer;
            }

            &:last-child {
                border: none;
            }
            &:hover {
                .menu-icon {
                    display: grid;
                }
            }
        }
        .playing {
            background-color: $primary;
            .desc-box {
                .link-box {
                    a {
                        color: white;
                    }
                }
            }
        }
    }
}

.data-table-container {
    .title {
        color: #f1f1f1;
        font-weight: 300;
        margin-bottom: 30px;
    }
    .data-table {
        border-collapse: collapse;
        width: 100%;
        * {
            color: white;
            font-weight: 400;
        }

        .audio-icon {
            width: 30px;
            height: 30px;
            border-radius: 100%;
            background-color: #fff;
            display: none;
            place-items: center;
            overflow: hidden;
            padding-left: 0px !important;
            * {
                color: black;
                font-size: 1.2rem;
            }
            .icon {
                width: 100%;
                height: 100%;
                display: grid;
                place-items: center;
                display: none;
            }
            .play-icon {
                display: grid;
            }
        }
        .playing {
            .number {
                display: none;
            }

            .audio-icon {
                display: grid;
                .icon {
                    display: none;
                }
                .sound-icon {
                    display: grid;
                }
                &:hover {
                    .icon {
                        display: none;
                    }
                    .pause-icon {
                        display: grid;
                    }
                }
                .playing-play-icon {
                    display: grid;
                }
            }
            td {
                &:nth-child(n + 2) {
                    color: $primary !important;
                    * {
                        color: $primary !important;
                    }
                }
            }
        }

        tr,
        thead {
            border-bottom: 1px solid rgba(58, 58, 58, 0.753);
            text-align: left;
            transition: 0.2s;
        }

        td,
        th {
            a {
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
            padding: 12px 20px;
            font-size: 0.9rem;
            &:first-child {
                height: 60px;
                display: grid;
                place-items: center;
            }
            &:last-child {
                padding-right: 40px;
            }
        }
        tr {
            td {
                &:first-child {
                    .number {
                        color: #bababa;
                    }
                }
                &:last-child {
                    color: #bababa;
                }
            }
            .number {
                width: 30px;
                height: 30px;
                display: grid;
                place-items: center;
            }
            &:hover {
                background-color: #27272f;
                .menu-icon {
                    opacity: 1;
                }
                .number {
                    display: none;
                }
                .audio-icon {
                    display: grid;
                }
            }
        }
        .menu-icon {
            opacity: 0;
        }
        .song-image {
            padding-right: 0px;
            img {
                display: block;
                border-radius: 5px;
            }
        }
        .icon {
            padding-left: 0px;
            padding-right: 0px;
            text-align: center;
            cursor: pointer;
            * {
                font-size: 1.2rem;
            }
        }

        .empty {
            * {
                color: #bababa;
            }
        }
        .fill {
            * {
                color: $primary;
            }
        }
        .head-icon {
            * {
                color: #bababa;
                font-size: 1.2rem;
            }
        }
        th {
            color: #bababa;
            font-weight: 500;
        }
    }
}

.genres-page {
    width: 100%;
    height: 100%;
    background-color: $backgroundColor;
    padding: 30px;
    overflow-y: auto;
    margin-bottom: 60px;
    .heading {
        color: #f1f1f1;
        font-weight: 300;
        margin-bottom: 30px;
    }
}

.popular-albums-page {
    width: 100%;
    height: 100%;
    background-color: $backgroundColor;
    padding: 30px;
    overflow-y: auto;
    margin-bottom: 60px;
    .heading {
        color: #f1f1f1;
        font-weight: 300;
        margin-bottom: 30px;
    }
}

.genres-box {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 25px;
    .genres-card {
        aspect-ratio: 1 / 1;
        border-radius: 8px;
        overflow: hidden;
        .link {
            display: grid;
            place-items: center;
            width: 100%;
            height: 100%;
            color: white;
            text-transform: capitalize;
            text-decoration: none;
            font-weight: bold;
            font-size: 1.5rem;
            transition: 0.2s ease-in-out;
            &:hover {
                background-color: rgba(0, 0, 0, 0.4);
            }
        }
    }
}

.popular-track-page {
    width: 100%;
    height: 100%;
    background-color: $backgroundColor;
    padding: 30px;
    overflow-y: auto;
    margin-bottom: 60px;
    .heading {
        color: #f1f1f1;
        font-weight: 300;
        margin-bottom: 30px;
    }
}
.popular-tracks-container {
    .heading {
        color: #f1f1f1;
        font-weight: 300;
        display: inline-flex;
        grid-gap: 5px;
        align-items: center;
        margin-bottom: 30px;
        text-decoration: none;
        font-size: 28px;
    }
}
.popular-albums-container {
    .heading {
        color: #f1f1f1;
        font-weight: 300;
        display: inline-flex;
        grid-gap: 5px;
        align-items: center;
        margin-bottom: 30px;
        text-decoration: none;
        font-size: 28px;
    }
}
.genres-container {
    margin-top: 50px;
    .heading {
        color: #f1f1f1;
        font-weight: 300;
        display: inline-flex;
        grid-gap: 5px;
        align-items: center;
        margin-bottom: 30px;
        text-decoration: none;
        font-size: 28px;
    }
}

.album-container {
    margin-bottom: 60px;
    .heading {
        color: #f1f1f1;
        font-weight: 300;
        margin-bottom: 30px;
        font-size: 28px;
    }
    .album-body {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 25px;
        grid-row-gap: 35px;
        .album-card {
            aspect-ratio: 1 / 1;

            .img {
                overflow: hidden;
                border-radius: 5px;
                position: relative;
                background-color: #23232c;
                img {
                    object-fit: cover;
                    object-position: center;
                    width: 100%;
                    height: 100%;
                    aspect-ratio: 1 / 1;

                    // display: none;
                }
                &:hover {
                    .hover-box {
                        opacity: 1;
                    }
                }
                .hover-box {
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: rgba(0, 0, 0, 0.6);
                    width: 100%;
                    height: 100%;
                    display: grid;
                    place-items: center;
                    cursor: pointer;
                    opacity: 0;
                    transition: 0.2s ease-in-out;
                    .icon {
                        width: 60px;
                        height: 60px;
                        border: 1px solid white;
                        border-radius: 100%;
                        display: grid;
                        place-items: center;
                        transition: 0.2s;
                        * {
                            font-size: 2rem;
                            color: white;
                        }
                        &:hover {
                            transform: scale(115%);
                        }
                    }
                }
            }
            .desc {
                color: white;
                text-align: center;
                h5 {
                    font-weight: normal;
                    font-size: 0.9rem;
                    letter-spacing: 0.2px;
                    cursor: pointer;
                    margin-top: 9px;
                    &:hover {
                        text-decoration: underline;
                    }
                }
                .artist-name {
                    color: rgb(170, 170, 170);
                }
            }
        }
        .active {
            .icon {
                display: none;
            }
        }
    }
}

.tracks-by-album-page {
    width: 100%;
    height: 100%;
    background-color: $backgroundColor;
    padding: 30px;
    overflow-y: auto;
    margin-bottom: 60px;
    .header {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        grid-gap: 30px;
        margin-bottom: 20px;
        .left-head {
            width: 260px;
            img {
                width: 100%;
                border-radius: 5px;
                aspect-ratio: 1 / 1;
                object-position: center;
                object-fit: cover;
            }
        }

        .right-head {
            .title {
                color: white;
                font-weight: 500;
                font-size: 33px;
            }
            .artist-box {
                display: flex;
                grid-gap: 13px;
                margin-top: 13px;
                a {
                    display: flex;
                    align-items: center;
                    grid-gap: 5px;
                    color: white;
                    text-decoration: none;
                    img {
                        width: 26px;
                        height: 26px;
                        border-radius: 100%;
                    }
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            .desc-box {
                list-style: none;
                display: flex;
                grid-gap: 15px;
                color: #bababa;
                margin-top: 19px;
            }
            .action-btn {
                margin-top: 30px;
                margin-bottom: 30px;
                display: flex;
                grid-gap: 7px;
                .btn {
                    text-transform: capitalize;
                    font-weight: 500;
                    font-size: 0.95rem;
                    padding: 7px 18px;
                    border-radius: 20px;
                    color: white;
                    border-color: #3b3b3b;
                }
                .play-btn {
                    padding: 7px 35px;
                    margin-right: 15px;
                }
                .active {
                    border-color: $primary;
                    color: $primary;
                }
            }
        }
    }
}
